<div class="chat chat-start" data-controller="message">
  <div class="chat-image avatar">
    <div class="w-10 rounded">
      <%= image_tag "https://api.dicebear.com/7.x/fun-emoji/svg?seed=#{message.user_id}" %>
    </div>
  </div>
  <div class="chat-bubble"><%= message.content %></div>
</div>
