<h1 class="my-4 px-2 text-center uppercase text-4xl font-extrabold sm:text-5xl sm:tracking-tight lg:text-6xl"><%= @title %></h1>
<% if @subtitle %>
  <p class="m-4 text-center text-lg sm:text-xl sm:tracking-tight lg:text-2xl"><%= @subtitle %></p>
<% end %>
