<%# Required to be on the page so the compiler will see it %>
<% [
  'bg-red-500',
  'bg-green-500',
  'bg-blue-500'
  ] %>

<div class="sticky top-0 z-50 relative <%= timer_background(hunt) %>"
  data-controller="timer"
  data-timer-target="container"
  data-timer-starts-at-value="<%= hunt.starts_at ? hunt.starts_at.to_i * 1000 : nil %>"
  data-timer-ends-at-value="<%= hunt.ends_at ? hunt.ends_at.to_i * 1000 : nil %>">
  <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="text-center sm:px-16">
      <p class="font-medium text-white" data-timer-target="countdown">
        <%= hunt_status(@hunt) %>
      </p>
    </div>
  </div>
</div>
