<% description "Results for the scavenger hunt #{@hunt.name}." %>

<h1 class="font-serif my-4 text-center uppercase text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl"><%= title "#{@hunt.name} Results" %></h1>
<p class="m-4 text-lg sm:text-xl sm:tracking-tight lg:text-2xl text-gray-700">Let's see how everyone did!</p>

<%= render partial: 'hunts/hunt', locals: { results: true } %>
