<div class="w-1/2" id="<%= dom_id item %>">
  <div class="flex flex-wrap">
    <div class="w-1/6 md:w-1/12">
      <div class="mt-1.5 text-lg font-medium">
        <% if item.submissions.with_attached_photo.present? %>
          <ion-icon name="checkbox"></ion-icon>
        <% else %>
          <ion-icon name="square-outline"></ion-icon>
        <% end %>
      </div>
    </div>
    <div class="w-5/6 md:w-11/12">
      <div class="mt-1 text-lg break-words">
        <% results_text = "#{item.name} - #{pluralize(item.submissions.with_attached_photo.count, 'submission')}" %>
        <% if item.submissions.with_attached_photo.present? %>
          <%= link_to results_text, hunt_item_path(@hunt.code, item) %>
        <% else %>
          <%= results_text %>
        <% end %>
      </div>
    </div>
  </div>
</div>
