@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Oswald&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color-adjust: exact !important;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}
