@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Oswald&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color-adjust: exact !important;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

ion-icon {
  --ionicon-stroke-width: 48px;
}

.spinning {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
