@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Oswald&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color-adjust: exact !important;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

ion-icon {
  --ionicon-stroke-width: 48px;
}

.spinning {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.video-docker video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-docker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
